// Background: #FFF8EA
// Text: #9E7676
// Headings: #815B5B
// Accent colors: #594545

$primary-color: #264653;
$secondary-color: #2a9d8f;
$teritary-color: #e9c46a;
$accent-color: #f4a261;
// $primary-color: #264653;
// $secondary-color: #2a9d8f;
// $teritary-color: #e9c46a;
// $accent-color: #f4a261;
